@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-family: "Noto Sans JP", sans-serif;
  background-image: linear-gradient(to right, #112, #123);
  color: white;
  scroll-behavior: smooth;
}

body {
  display: flex;
}

header {
  width: 50%;
  height: 100vh;
  padding-left: 200px;
  position: fixed;
  display: flex;
  align-items: center;
}
header .box-header {
  height: -moz-max-content;
  height: max-content;
}
header .name {
  font-size: 50px;
}
header .role {
  font-size: 25px;
  font-weight: bold;
}
header nav {
  margin-top: 50px;
}
header nav .navitem {
  display: flex;
  align-items: center;
  opacity: 0.5;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}
header nav .navitem:hover {
  opacity: 1;
}
header nav .navitem::before {
  content: "";
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  margin-right: 10px;
}
header nav .navitem-active {
  opacity: 1;
}
header nav .navitem-active::before {
  width: 75px;
}
header .box-contact {
  display: flex;
  margin-top: 100px;
}
header .box-contact .item-contact {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
header .box-contact .item-contact img {
  width: 100%;
  display: block;
}
header .box-contact .item-contact:hover {
  transform: scale(1.25);
}

main {
  width: 50%;
  margin-left: 50%;
}

section {
  width: 100%;
  padding: 0 100px 50px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#skill .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#skill .item-skill {
  width: 7vw;
  height: 7vw;
  margin: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7.5vw;
  cursor: pointer;
  position: relative;
}
#skill .item-skill::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 10px #18ffd8;
  border-radius: 100%;
  display: none;
}
#skill .item-skill:hover {
  transform: rotate(360deg);
  box-shadow: 0 0 10px #00c3ff;
}
#skill .item-skill:hover::before {
  display: block;
}
#skill .item-skill img {
  display: block;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#experience .item-exp {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
#experience .item-exp:hover {
  box-shadow: 0 0 10px #18ffd8;
}
#experience .item-exp .date {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
#experience .item-exp .ttl {
  font-size: 20px;
  margin-bottom: 15px;
}
#experience .item-exp img {
  width: 30vw;
  height: 12.5vw;
  margin-bottom: 20px;
}
#experience .item-exp .row {
  display: flex;
  margin-bottom: 10px;
}
#experience .item-exp .row span {
  border: 1px solid rgba(24, 255, 216, 0.5333333333);
  width: 100px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgba(24, 255, 216, 0.5333333333);
  color: black;
  cursor: pointer;
}
#experience .item-exp .row span:hover {
  color: white;
  background-color: transparent;
}
#experience .item-exp .txt {
  margin-top: 25px;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  body {
    display: block;
  }
  header {
    width: 100%;
    height: -moz-max-content;
    height: max-content;
    padding: 50px;
    position: initial;
    display: flex;
    justify-content: center;
  }
  header .box-header {
    height: -moz-max-content;
    height: max-content;
  }
  header .role {
    display: none;
  }
  header .dsc {
    display: none;
  }
  header nav {
    display: none;
  }
  header .box-contact {
    display: none;
  }
  main {
    width: 90%;
    margin-left: 5%;
  }
  section {
    width: 100%;
    padding: 50px 0;
    min-height: 0;
    display: flex;
    align-items: center;
  }
  #skill .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #skill .item-skill {
    width: 30vw;
    height: 30vw;
    margin: 0;
    border-radius: 100vw;
  }
  #experience .item-exp {
    width: 100%;
  }
  #experience .item-exp img {
    width: 75vw;
    height: 30vw;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */